@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

*{
	padding:0;
	margin:0;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
}
h1,h2,h3,h5{
    font-family: 'Montserrat', sans-serif;
    color: #232323;
}
p{
	font-family: 'Poppins', sans-serif;
	margin: 0 0 25px;
    font-size: 14px;
    line-height: 1.7;
    word-spacing: 1px;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 100px 0;
    position: relative;
}

/* utilidades */
.text-medium-gray {
    color: #939393;
}
.padding-top-20{
	padding-top: 30%;
}
.margin-top-8{
	margin-top: 12%;
}
.padding-top-12{
	padding-top: 12%;
}
.padding-left-20{
	padding-left: 20px;
}
.padding-left-20p{
	padding-left: 70%;
}
.padding-10px-tb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.font-size-48{
	font-size: 48px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-34 {
    font-size: 34px;
    line-height: normal;
}
.font-wigth-700{
	font-weight: 700;
}

.color-section{
    background: #f5f5f5;
}
.margin-botton-20{
	margin-bottom: 20px;
}
.margin-bottom-70px {
    margin-bottom: 70px;
}

.margin-bottom-30px {
    margin-bottom: 30px;
}

.margin-bottom-40px {
    margin-bottom: 40px;
}
.margin-top-30px {
    margin-top: 30px;
}

.no-margin {
    margin: 0 !important;
}
.border-botton , .border-top{
	border-bottom: 1px solid #dee2e6!important;
}
.border-right-hover:hover{
	border-right: 1px solid rgb(97, 97, 97) !important;
}
.border-left-hover:hover{
	border-left: 1px solid rgb(97, 97, 97) !important;
}
.wight-50{
	width: 50%;
}
.wight-100{
	width: 100%;
}

/* header */
.list-group-item{
	border: none;
}
.list-group-item a:hover{
	color: #6e6e6e;
}
.list-margin-bottom-25{
	margin: 0 0 25px;
}
/*  sobre mi */
.section-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.section-title:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
}

.section-title:after {
    content: '';
    width: 60px;
    height: 2px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.skills-fe, .skills-dg , .skills-be{
	position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.skills-fe:before, .skills-dg:before , .skills-be:before {
    content: '';
    width: 100%;
    height: 5px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	margin: 0 auto;
	border-radius: 5px;

}
.skills-fe:after, .skills-dg:after , .skills-be::after {
	content: '';
	left: 0;
    height: 5px;
    background: rgba(0,0,0,0.6);
    position: absolute;
	bottom: 0;
	border-radius: 10px;
}

.skills-fe:after{
	width: 80%;
}

.skills-dg:after{
	width: 40%;
}
.skills-be:after{
	width: 60%;
}
.menuSombra{
    /* background: rgb(255, 255, 255); */
    box-shadow: 0 0 4px 0px #6d6d6d;
    transition: 1s;
  }
  .sombra{
      transition: 1s;
  }
  .sombra:hover{
    box-shadow: 0 0 4px 0px #6d6d6d;
    opacity: 0.5;
    transform: scale(1.1,1.1);
  }