---
import EXPERIENCIA from "@data/experiencia.js"
import Icons from "./../Icons.astro"
---

<section class="mt-10">
  <ol class="relative border-l border-gray-200 dark:border-gray-700 ml-8">
    {
      EXPERIENCIA.map(({ nombre, icono, proyectos, tiempo }) => (
        <li class="mb-10 ml-6 border-b border-dashed dark:border-b-gray-700 border-b-gray-300">
          <span class="absolute flex items-center justify-center w-14 h-14 rounded-full -left-8 bg-gradient-to-r from-cyan-500 to-blue-500 bg-slate-900 p-2">
            <div class="dark:bg-slate-900 bg-white rounded-full p-2 w-[53px] h-[53px] flex justify-items-center items-center dark:text-white text-blue-500">
              <Icons name={icono} />
            </div>
          </span>
          <div class="ml-5 grid grid-cols-1 md:grid-cols-2">
            <div>
              <h3 class="flex items-center mb-1 text-3xl font-semibold text-blue-500 dark:text-white">
                {nombre}
              </h3>
              <time class="block mb-2 text-xl font-light leading-none text-blue-500 dark:text-neutral-300">
                {tiempo}
              </time>
            </div>
            <div>
              {proyectos.map(({ titulo, año }) => (
                <div class="mt-6 md:mt-0">
                  <p class="dark:text-neutral-400 text-neutral-900 text-md font-medium">
                    {año}
                  </p>
                  <p class="mb-6 text-lg font-light text-gray-900 dark:text-white">
                    _ {titulo}
                  </p>
                </div>
              ))}
            </div>
          </div>
        </li>
      ))
    }
  </ol>
</section>
