---
import RedesSociales from "@/components/RedesSociales.astro"
import PERSONA from "@/data/persona.js"

const { nombre } = PERSONA
---

<footer class="w-full pb-24 lg:pb-14 mt-10 md:mb-0 text-center">
  <h2
    class="font-bold dark:text-[#020617e7] text-[#95969752] text-pretty h-full text-5xl md:text-7xl lg:text-8xl bg-clip-text bg-gradient-to-br from-gray-200/80 to-gray-50/10 dark:from-secondary dark:to-secondary/30 mask-b-from-50% mask-b-to-100%"
  >
    {nombre}
  </h2>

  <ul class="flex items-center justify-center pb-3 pt-0 w-full -mt-4">
    <RedesSociales />
  </ul>
</footer>
