---
import RedesSociales from "../RedesSociales.astro"
import PERSONA from "@data/persona.js"

const { nombre } = PERSONA
---

<footer class="w-full p-9 mb-11 md:mb-0">
  <ul class="flex items-center justify-center py-3 w-100">
    <RedesSociales />
  </ul>
  <p class="text-center text-gray-500 dark:text-gray-400 text-md">{nombre}</p>
</footer>
