---
import RedesSociales from "../RedesSociales.astro"
import PERSONA from '@data/persona.js'

const {nombre} = PERSONA
---

<footer class="w-full border-t-2 border-gray-200 bg-slate-50 p-9">
  <ul class="flex items-center justify-center py-3 w-100">
    <RedesSociales />
  </ul>
  <p class="text-center text-gray-500 text-md">{nombre}</p>
</footer>
