---
import PERSONA from "@data/persona.js"
const { nombre, profesion, curriculum, foto } = PERSONA
---

<header class="container mx-auto md:mt-28 mt-10" id="inicio">
  <div class="order-last text-center">
    <div
      class="absolute inset-x-0 bottom-1/2 top-0 dark:text-slate-600 text-slate-200 [mask-image:linear-gradient(white,transparent)]"
    >
      <svg aria-hidden="true" class="absolute inset-0 h-full w-full">
        <defs>
          <pattern
            id=":Rbm:"
            width="128"
            height="128"
            patternUnits="userSpaceOnUse"
            x="50%"
            y="100%"
          >
            <path d="M0 128V.5H128" fill="none" stroke="currentColor"></path>
          </pattern>
        </defs>
        <rect width="100%" height="100%" fill="url(#:Rbm:)"></rect>
      </svg>
    </div>
    <div class="relative max-w-6xl pt-16 mx-auto">
      <div
        class="flex justify-between items-center flex-col-reverse md:flex-row"
      >
        <div class="text-start">
          <h2
            class="text-4xl md:text-3xl font-semibold font-sans mb-5 text-gray-800 dark:text-slate-50"
          >
            Hola, soy
          </h2>
          <h1
            class="font-extrabold font-sans mt-3 mb-2 text-transparent text-5xl md:text-7xl bg-clip-text bg-gradient-to-r from-cyan-400 to-blue-600"
          >
            {nombre}
          </h1>
          <p
            class="font-light text-2xl md:text-4xl font-sans text-gray-500 dark:text-slate-100"
          >
            {profesion}
          </p>

          <div class="mt-10">
            <a
              href={curriculum}
              target="_blank"
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-blue-500 group-hover:to-cyan-500 hover:text-white text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gradient-to-br from-cyan-500 to-blue-500 rounded-md bg-opacity-0"
              >
                Descargar CV
              </span>
            </a>
            <a
              href="#proyectos"
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Proyectos
              </span>
            </a>
          </div>
        </div>
        <div>
          <img
            src={foto}
            class="h-full w-full md:mx-auto lg:mx-0 md:w-96 rounded-[70px] mb-10 md:mb-0"
            height="460"
            width="281"
            alt="foto"
            loading="lazy"
            decoding="async"
            title="kewin barboza"
          />
        </div>
      </div>
    </div>
  </div>
</header>
