---
import PERSONA from './../../data/persona.js';
import curriculum from './../../data/curriculum.pdf'
import Icons from './../Icons.astro'
---

<header class="p-2 my-28" id="inicio">
  <div class="order-last text-center">
    <h2 class="text-4xl md:text-5xl font-semibold font-sans flex items-center justify-center mb-10 text-gray-800">
      Hola <Icons name="saludo" />, soy
    </h2>
    <h1 class="font-extrabold font-sans mt-3 mb-2 text-transparent text-5xl md:text-8xl bg-clip-text bg-gradient-to-r from-cyan-400 to-blue-600">
      {PERSONA.nombre}
    </h1>
    <p class="font-light text-4xl md:text-5xl font-sans text-gray-500">{PERSONA.profesion}</p>
  </div>
  <div class="mt-28 text-center">
    <a href={curriculum} target="_blank" class="font-sans mx-3 py-4 px-6 border-blue-400 border-2 hover:border-blue-500 text-gray-800 font-medium rounded-xl">
      Descargar CV
    </a>
    <a href="#sobre-mi" class="font-sans mx-3 py-4 px-6 bg-blue-400 border-2 border-blue-400 hover:bg-blue-500 hover:border-blue-500 text-white font-medium rounded-xl">
      Sobre Mi
    </a>
  </div>
</header>
