---
import RECOMENDACIONES from "../../../public/data/recomendaciones.js"
---
<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-5 lg:mt-16">
  {
    RECOMENDACIONES.map(({nombre, empresa, descripcion, cargo}) => (
      <article class="rounded-lg border-2 border-gray-100 p-3 shadow-sm flex flex-col justify-between">
        <main>
          <p class="font-semibold font-sans text-gray-800 text-xl mb-1">{nombre}</p>
          <p class="font-normal font-sans text-gray-800 text-sm mb-2">{cargo}</p>
        </main>
        <p class="font-base text-base text-gray-500 mb-0">{descripcion}</p>
        <small class="font-light text-blue-400 text-sm mt-3 block">{empresa}</small>
      </article>
    ))
  }
</div>
