---
import PERSONA from "@data/persona.js"
const { experiencia, proyectos, carrera } = PERSONA
---

<section class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
  <article class="p-5 rounded-3xl custom-shadow relative">
    <p
      class="font-bold font-sans mb-2 text-6xl md:text-8xl text-transparent bg-clip-text bg-gradient-to-br from-primary to-primary/30 dark:from-secondary dark:to-secondary/30"
    >
      {experiencia}
      <span class="text-4xl block">Años de</span>
      <span class="mt-1 text-4xl block">experiencia</span>
    </p>
  </article>

  <article class="p-5 rounded-3xl custom-shadow relative">
    <p
      class="font-bold font-sans mb-2 text-6xl md:text-8xl text-transparent bg-clip-text bg-gradient-to-br from-primary to-primary/30 dark:from-secondary dark:to-secondary/30"
    >
      {proyectos}
      <span class="text-4xl block">Proyectos</span>
      <span class="mt-1 text-4xl block">completados</span>
    </p>
  </article>

  <article
    class="p-5 rounded-3xl custom-shadow relative flex flex-col justify-end bg-transparent bg-gradient-to-tr from-secondary via-secondary dark:from-primary dark:via-primary dark:to-accent to-accent"
  >
    <p
      class="font-bold font-sans mb-2 text-4xl md:text-4xl text-transparent bg-clip-text bg-gradient-to-br from-primary to-primary/30 dark:from-secondary dark:to-secondary/30"
    >
      {carrera}
    </p>
  </article>
</section>
