---
import PERSONA from "@data/persona.js"
const { experiencia, proyectos, carrera } = PERSONA
---

<section
  class="grid grid-cols-1 gap-5 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
>
  <article
    class="gap-4 p-5 rounded-3xl border dark:border-blue-600/15 border-blue-600/15 bg-gradient-to-tr from-cyan-400/5 to-blue-600/30"
  >
    <p
      class="font-bold font-sans mb-2 text-transparent text-6xl md:text-8xl bg-clip-text bg-gradient-to-r from-cyan-400 to-blue-600"
    >
      {experiencia}
      <span class="text-4xl block">años de</span>
    </p>
    <p class="mt-1 text-4xl dark:text-blue-200 text-blue-500">Experiencia</p>
  </article>

  <article
    class="gap-4 p-5 rounded-3xl border dark:border-blue-600/15 border-blue-600/15 bg-gradient-to-tr from-cyan-400/5 to-blue-600/30"
  >
    <p
      class="font-bold font-sans mb-2 text-transparent text-6xl md:text-8xl bg-clip-text bg-gradient-to-r from-cyan-400 to-blue-600"
    >
      {proyectos}
      <span class="text-4xl block">Proyectos</span>
    </p>
    <p class="mt-1 text-4xl dark:text-blue-200 text-blue-500">completados</p>
  </article>

  <article
    class="gap-4 p-5 flex flex-col justify-center rounded-3xl border dark:border-blue-600/15 border-blue-600/15 bg-gradient-to-tr from-cyan-400/5 to-blue-600/30"
  >
    <p
      class="font-bold font-sans text-transparent text-2xl md:text-4xl bg-clip-text bg-gradient-to-r from-cyan-400 to-blue-600"
    >
      {carrera}
    </p>
    <h2 class="text-4xl font-bold dark:text-blue-100 text-blue-500 mt-3">
      Universidad
    </h2>
  </article>
</section>
