---
import PERSONA from '@data/persona'
import Icons from '../Icons.astro';

const {tecnologias} = PERSONA
---

<p class="uppercase text-center block mb-5 font-extrabold text-gray-600">Tecnologías</p>
<div class="flex justify-center md:justify-evenly align-middle flex-wrap">
  {
    tecnologias.map(tecnologia => (
      <span class="text-center m-2">
        <Icons name={tecnologia}/>
        <small class="text-center">{tecnologia}</small>
      </span>
    ))
  }
</div>
