---
import PERSONA from "@data/persona"
import Icons from "../Icons.astro"
import { IconName } from "@icons/mapIcons"

const { tecnologias } = PERSONA
---

<p
  class="uppercase text-center block mb-5 font-extrabold text-gray-600 dark:text-slate-200"
>
  Tecnologías
</p>
<section class="grid grid-cols-4 md:grid-cols-7 gap-5">
  {
    tecnologias.map((tecnologia) => (
      <span class="text-center flex flex-col overflow-hidden items-center p-2 rounded-lg dark:text-slate-300 text-slate-600 dark:border-blue-600/15 border-blue-600/15 bg-gradient-to-tr from-cyan-400/5 to-blue-600/30 w-100">
        <Icons name={tecnologia as IconName} dark />
        <small class="text-center">{tecnologia}</small>
      </span>
    ))
  }
</section>
