---
import PERSONA from "@/data/persona.js"
import ButtonPrimary from "@/components/UI/ButtonPrimary.astro"
import ButtonSecondary from "@/components/UI/ButtonSecondary.astro"
const { correo, LinkedIn } = PERSONA
const subject = "Interesado%20en%20en%20trabajar%20juntos%20en%20un%20proyecto"
---

<article class="min-w-full">
  <section
    class="relative h-full w-full backdrop-blur-[2px] custom-shadow bg-gradient-to-bl dark:from-[#132058d2] from-[#5b77f39c] from-5% via-30% via-transparent to-transparent rounded-xl py-10 flex flex-col justify-center items-center overflow-hidden"
  >
    <div
      class="text-transparent bg-clip-text bg-gradient-to-br from-primary to-primary/30 dark:from-secondary dark:to-secondary/30"
    >
      <h2
        class="font-bold md:text-5xl text-5xl text-center my-8 md:my-0 text-pretty"
      >
        ¿ Tienes algún proyecto ?
      </h2>
      <p class="text-center text-4xl font-semibold mb-5">Trabajemos juntos</p>
    </div>
    <div class="my-5">
      <ButtonPrimary title="LinkedIn" href={LinkedIn} target="_blank" />
      <ButtonSecondary
        title="GMail"
        href=`mailto:${correo}?Subject=${subject}`
      />
    </div>
  </section>
</article>
