---
import PERSONA  from '@data/persona.js';
const URL_PATH_IMAGE = './image/cohete.png'

const { correo } = PERSONA
const subject = 'Interesado%20en%20en%20trabajar%20juntos%20en%20un%20proyecto'
---
<div class="rounded-3xl mx-auto  mt-10 bg-gradient-to-r p-[3px] to-[#50c8ff] from-[#3B82F6] ">
  <div class="h-full rounded-lg py-16 px-8 md:px-16" >
    <div class="md:flex block justify-between flex-row-reverse mb-12">
      <img src={URL_PATH_IMAGE} alt="cohete" width="128">
      <h2 class="text-white font-bold md:text-5xl text-3xl my-8 md:my-0">¿ Tienes algun proyecto ?  <p class="mt-5">Trabajemos juntos</p> </h2>
    </div>
    <a href="https://linkedin.com/in/kewinbarboza" target="_blank" class="border-2 hover:bg-slate-50 hover:text-gray-800 font-bold rounded-xl mt-7 border-gray-50 px-8 py-3 text-white">Linkedin</a>
    <a href={`mailto:${correo}?Subject=${subject}`} target="_blank" class="border-2 hover:bg-slate-50 hover:text-gray-800 font-bold rounded-xl mt-7 border-gray-50 px-8 py-3 text-white">Gmail</a>
  </div>
</div>
