---
import PERSONA from "@data/persona.js"
const URL_PATH_IMAGE = "./image/cohete.png"

const { correo } = PERSONA
const subject = "Interesado%20en%20en%20trabajar%20juntos%20en%20un%20proyecto"
---

<section class="">
  <article
    class="h-full border px-10 rounded-3xl dark:border-blue-600/15 border-blue-600/15"
  >
    <div class="md:flex block justify-between items-center py-16">
      <div>
        <h2
          class="dark:text-white text-slate-800 font-bold md:text-5xl text-6xl my-8 md:my-0"
        >
          ¿ Tienes algún proyecto ?
        </h2>
        <p class="mt-5 text-4xl dark:text-neutral-300 text-neutral-700">
          Trabajemos juntos
        </p>
      </div>
      <div class="mt-10 md:mt-0">
        <a
          href="https://linkedin.com/in/kewinbarboza"
          target="_blank"
          class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
        >
          <span
            class="relative px-8 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
          >
            Linkedin
          </span>
        </a>
        <a
          href={`mailto:${correo}?Subject=${subject}`}
          target="_blank"
          class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
        >
          <span
            class="relative px-8 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
          >
            Gmail
          </span>
        </a>
      </div>
    </div>
  </article>
</section>
