---
import PERSONA from "@data/persona.js"
import ButtonPrimary from "../UI/ButtonPrimary.astro"
import ButtonSecondary from "../UI/ButtonSecondary.astro"
const { correo } = PERSONA
const subject = "Interesado%20en%20en%20trabajar%20juntos%20en%20un%20proyecto"
---

<article class="overflow-x-clip flex-grow relative min-w-full">
  <section class="divider py-40 flex flex-col justify-center items-center">
    <div
      class="text-transparent bg-clip-text bg-gradient-to-br from-primary to-primary/30 dark:from-secondary dark:to-secondary/30"
    >
      <h2
        class="font-sans font-bold md:text-5xl text-5xl text-center my-8 md:my-0 text-pretty"
      >
        ¿ Tienes algún proyecto ?
      </h2>
      <p class="font-sans text-center text-4xl font-semibold mb-5">
        Trabajemos juntos
      </p>
    </div>
    <div class="my-5">
      <ButtonPrimary
        title="Linkedin"
        href="https://linkedin.com/in/kewinbarboza"
        target="_blank"
      />
      <ButtonSecondary
        title="Gmail"
        href=`mailto:${correo}?Subject=${subject}`
      />
    </div>
  </section>
</article>

<style>
  .divider {
    width: 100%;
    height: 1px;
    position: relative;
  }

  .divider:before {
    bottom: 0;
    z-index: 0;
    content: "";
    width: 1000px;
    height: 40px;
    position: absolute;
    left: calc(50% - 500px);
    border-bottom: 1px solid;
    border-image-source: linear-gradient(
      90deg,
      transparent,
      rgba(59, 130, 246, 0.5) 50%,
      transparent
    );
    border-image-slice: 1;
    background: radial-gradient(
      50% 100% at 50% 100%,
      rgba(137, 139, 255, 0.1) 0,
      rgba(1, 3, 20, 0) 100%
    );
  }

  .divider:after {
    top: 0;
    z-index: 0;
    content: "";
    width: 500px;
    height: 80px;
    position: absolute;
    left: calc(50% - 250px);
    border-top: 1px solid;
    border-image-source: linear-gradient(
      90deg,
      transparent,
      #3b82f683 50%,
      transparent
    );
    border-image-slice: 1;
    background: radial-gradient(
      43.9% 100% at 50% 0,
      #3b82f628 0,
      rgba(2, 15, 139, 0) 100%
    );
  }
</style>
