---
import PERSONA from "@data/persona.js"
const { correo } = PERSONA
const subject = "Interesado%20en%20en%20trabajar%20juntos%20en%20un%20proyecto"
---

<section class="">
  <article
    class="relative overflow-hidden h-full border p-[2px] rounded-3xl dark:border-blue-600/15 border-blue-600/15 backdrop-blur-3xl"
  >
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#0284c7_0%,#393BB2_50%,#0284c7_100%)]"
    ></span>
    <div
      class="inline-flex h-full w-full items-center justify-center rounded-3xl py-16 bg-gray-100 dark:bg-slate-900 gap-x-16 text-sm font-medium text-gray-50 backdrop-blur-3xl dark:border-blue-600/15 border-blue-600/15 bg-gradient-to-tr from-cyan-400/5 to-blue-600/30"
    >
      <div>
        <h2
          class="dark:text-white text-sky-500 font-bold md:text-5xl text-6xl my-8 md:my-0"
        >
          ¿ Tienes algún proyecto ?
        </h2>
        <p class="mt-5 text-4xl dark:text-white text-sky-500 font-light">
          Trabajemos juntos
        </p>
      </div>
      <div class="mt-10 md:mt-0">
        <a
          href="https://linkedin.com/in/kewinbarboza"
          target="_blank"
          class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
        >
          <span
            class="relative px-8 py-3 transition-all ease-in duration-75 rounded-md"
          >
            Linkedin
          </span>
        </a>
        <a
          href={`mailto:${correo}?Subject=${subject}`}
          target="_blank"
          class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-white-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
        >
          <span
            class="relative px-8 py-3 transition-all ease-in duration-75 rounded-md"
          >
            Gmail
          </span>
        </a>
      </div>
    </div>
  </article>
</section>
