---
import cohete from '@public/image/cohete.png'
---
<div class="rounded-3xl mx-auto  mt-10 bg-gradient-to-r p-[3px] from-[#50c8ff] via-[#3B82F6] to-[#59adfc]">
  <div class=" h-full rounded-lg py-20 px-16" >
    <div class="flex justify-between align-middle mb-12">
      <h2 class="text-white font-bold text-5xl">¿ Tienes algun proyecto ?  <p class="mt-5">Trabajemos juntos</p> </h2>
      <img src={cohete} alt="" width="128">
    </div>
    <a href="https://linkedin.com/in/kewinbarboza" target="_blank" class="border-2 hover:bg-slate-50 hover:text-gray-800 font-bold rounded-xl mt-7 border-gray-50 px-8 py-3 text-white">Linkedin</a>
  </div>
</div>
