---
import Header from "../components/sections/Header.astro"
import Experiencia from "../components/sections/Experiencia.astro"
import Proyectos from "../components/sections/Proyectos.astro"
import Recomendaciones from "../components/sections/Recomendaciones.astro"
import SobreMi from "../components/sections/SobreMi.astro"
import Title from "../components/UI/Title.astro"
import Layout from "../layouts/Layout.astro"
import Section from "../layouts/Section.astro"
import Tecnologias from "src/components/sections/Tecnologias.astro"
import Trabajemos from "src/components/sections/Trabajemos.astro"
import NavigationMobile from "src/components/UI/NavigationMobile.astro"
---

<Layout title="Kewin Barboza | Desarrollador web, Frontend, JavaScript, React">
  <Section id="">
    <Header />
  </Section>
  <main class="px-4">
    <Section id="">
      <SobreMi />
    </Section>

    <Section id="experiencia">
      <Title title="Experiencia" />
      <Experiencia />
    </Section>

    <Trabajemos />

    <Section id="proyectos">
      <Title title="Proyectos" />
      <Proyectos />
    </Section>

    <Section id="">
      <Tecnologias />
    </Section>

    <Section id="recomendaciones">
      <Title title="Recomendaciones" />
      <Recomendaciones />
    </Section>

    <NavigationMobile />
  </main>
</Layout>
