---
import Layout from "@/layouts/Layout.astro"
import Section from "@/layouts/Section.astro"

import Header from "@/components/sections/Header.astro"
import Experiencia from "@/components/sections/Experiencia.astro"
import Proyectos from "@/components/sections/Proyectos.astro"
import Recomendaciones from "@/components/sections/Recomendaciones.astro"
import Title from "@/components/UI/Title.astro"
import Tecnologias from "@/components/sections/Tecnologias.astro"
import Trabajemos from "@/components/sections/Trabajemos.astro"
---

<Layout
  title="Kewin Barboza | Desarrollador y Programador Web con mas de 6 años de experiencia"
>
  <Header />

  <main class="px-4">
    <Section id="experiencia">
      <Title title="Experiencia" />
      <Experiencia />
    </Section>

    <Section id="proyectos">
      <Title title="Proyectos" />
      <Proyectos />
    </Section>

    <Section id="">
      <Trabajemos />
    </Section>

    <Section id="">
      <Tecnologias />
    </Section>

    <Section id="recomendaciones">
      <Title title="Recomendaciones" />
      <Recomendaciones />
    </Section>
  </main>
</Layout>
