---
import REDES_SOCIALES  from '@data/redes_sociales.js'
import Icons from './Icons.astro'
---

{
  REDES_SOCIALES.map(({url, icon}) => (
    <li class="mx-2">
      <a href={url} target="_blank">
        <Icons name={icon} />
      </a>
    </li>
  ))
}
