---
import IconMoon from "@/icons/IconMoon.astro"
import IconSunHigh from "@/icons/IconSunHigh.astro"
---

<button
  id="theme-btn"
  aria-label="auto"
  class="flex items-center justify-center text-foreground dark:text-white hover:[&>svg]:stroke-muted-foreground dark:hover:[&>svg]:stroke-foreground relative h-4 w-4"
>
  <IconMoon
    className="absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90"
  />
  <IconSunHigh
    className="absolute top-[50%] left-[50%] -translate-[50%] scale-0 rotate-90 transition-all dark:scale-100 dark:rotate-0"
  />
</button>
