---
const { titulo, url } = Astro.props
---

<a
  href={url}
  class="font-sans text-primary text-lg dark:text-secondary mx-2 px-2 py-4 hover:border-b-4 border-accent hover:text-accent font-semibold"
>
  {titulo}
</a>
