---
import { IconName } from "@/icons/mapIcons"
import Icons from "@/components/Icons.astro"

const { titulo, url, icon } = Astro.props
---

<a
  href={url}
  class="flex md:flex-row flex-col place-items-center items-center gap-x-2 text-foreground dark:text-white text-xs md:text-base px-4 py-1 hover:bg-neutral-700/10 hover:text-neutral-700 dark:hover:bg-neutral-100/30 font-medium dark:hover:text-neutral-100 rounded-full"
>
  <Icons name={icon as IconName} />
  <span class="text-center">{titulo}</span>
</a>
