---
import LINKS_HOME from "@/data/links_home.js"

import Link from "@/components/UI/Link.astro"
import RedesSociales from "@/components/RedesSociales.astro"
import BtnThemeToggle from "@/components/UI/BtnThemeToggle.astro"
---

<nav
  class="items-center fixed px-3 top-11/12 md:top-3 bg-transparent mx-auto max-w-max rounded-full custom-shadow z-50"
  id="navbar"
>
  <div
    class="mx-auto h-auto flex justify-center md:justify-between items-center py-2"
  >
    <ul class="flex justify-start items-center">
      {
        LINKS_HOME.map(({ url, titulo, icon }) => (
          <li>
            <Link url={url} titulo={titulo} icon={icon} />
          </li>
        ))
      }
    </ul>
    <div class="flex md:ms-14 ms-3">
      <ul class="flex justify-between items-center">
        <RedesSociales />
        <li class="mx-2">
          <BtnThemeToggle />
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  @keyframes add-shadow {
    to {
      box-shadow:
        0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
        0 0 0 1px hsla(0, 0%, 100%, 0.1);
      background: rgb(43 42 42 / 13%);
    }
  }

  #navbar {
    backdrop-filter: blur(5px);
    animation: add-shadow linear both;
    position: sticky;
    top: 3;
  }

  #navbar {
    animation-timeline: scroll();
    animation-range: 0 150px;
  }
</style>
