---
import LINKS_HOME from "@data/links_home.js"
---

<div class="fixed bottom-2 w-full left-0 px-3 md:hidden">
  <ul
    class="flex justify-evenly backdrop-blur-xl dark:bg-neutral dark:text-secondary bg-secondary/90 py-4 px-2 rounded-lg shadow-slate-400/50 dark:shadow-slate-600/50"
  >
    {
      LINKS_HOME.map(({ url, titulo }) => (
        <li>
          <a class="text-normal" href={url}>
            {titulo}
          </a>
        </li>
      ))
    }
  </ul>
</div>
