---
interface Props {
  title: string
}

const { title } = Astro.props
---

<h2
  class="font-bold font-sans mt-11 md:mt-4 mb-2 text-transparent text-pretty h-full text-4xl md:text-5xl lg:text-6xl py-2 bg-clip-text bg-gradient-to-br from-primary to-primary/30 dark:from-secondary dark:to-secondary/30"
>
  {title}
</h2>
